In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('youtube.csv')

In [3]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [4]:
df.sample(5)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
203,z13cc1abmqz5cjpkc223ybzavyibznjey,전광용,2014-11-07T15:14:48,Fantastic!﻿,0
215,z124g1oy2wfitb3tw23bw1po2ozhurojq04,LaunchPad Mad,2014-11-07T18:11:56,"Hello! I'm kind of new to Youtube, And soon i'...",1
286,z12oxlzh4qjicd2zu04cgfabqtipf3gq4is,Susan Jay,2014-11-08T10:04:22,"Enough with the whole ""how does this have two ...",0
48,z12stpyqaonsercxw04cjbr4dlnrxd34soo0k,Phuc Ly,2014-01-20T15:27:47,go here to check the views :3﻿,0
289,z12qfpcgnmjcgfqh104cd3fptuuxzxcp0i4,piwnugget,2014-11-08T10:12:42,YOUTUBE MONEY !!!!!!!!!!!!!!!!!!!!!!!﻿,0

In [5]:
df = df[['CONTENT', 'CLASS']]

In [6]:
df.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [7]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from textblob import TextBlob
from nltk.stem import PorterStemmer
pr = PorterStemmer()
from sklearn.feature_extraction.text import CountVectorizer
from wordcloud import WordCloud, STOPWORDS
from PIL import Image
import numpy as np
import matplotlib.pyplot as plt

In [8]:
x = df['CONTENT']
y = df['CLASS']

In [9]:
vect = CountVectorizer()

In [10]:
x = vect.fit_transform(x)  # Her kelime için bir sütun oluşturuyor ve sırayla cümlede varsa 1, yoksa 0 yazıyor. 2 yazmıyor, sadece 1 ve 0 var
# y zaten hazir 1 ve 0 halinde

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = .2)

In [12]:
b = BernoulliNB()

In [13]:
model = b.fit(x_train, y_train)

In [14]:
guess = model.predict(x_test)

In [15]:
accuracy_score(y_test, guess)

0.9857142857142858

In [16]:
guess

array([1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 0], dtype=int64)

In [17]:
import pickle

In [18]:
pickle.dump(model, open('classification.pkl', 'wb'))

In [19]:
# Bu yorumun sahte olup olmadigini bulacaz
comment = "Check this out my video https://cnn.com/"

In [20]:
comment = vect.transform([comment])

In [21]:
model.predict(comment)

array([1], dtype=int64)